<!DOCTYPE html>
<html class="ie0">

<head>
	<link rel="stylesheet" id="s_superplus_css_lnk" type="text/css" href="css/login_register.css" type="text/css">
	</style>
	<style type="text/css">
		@charset "UTF-8";

		[ng\:cloak],
		[ng-cloak],
		[data-ng-cloak],
		[x-ng-cloak],
		.ng-cloak,
		.x-ng-cloak,
		.ng-hide:not(.ng-hide-animate) {
			display: none !important;
		}

		ng\:form {
			display: block;
		}

		.ng-animate-shim {
			visibility: hidden;
		}

		.ng-anchor {
			position: absolute;
		}
	</style>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" name="viewport">
	<meta http-equiv="Cache-Control" content="no-transform">
	<title>登录</title>
	<script type="text/javascript"></script>
	<!--[if lte IE 8]>
<script type="text/javascript" src="/sso/static/js/json2.js"></script>
<![endif]-->
	<script type="text/javascript"></script>
	<script type="text/javascript"></script>
	<script type="text/javascript" data-main="load-login_2e098442dfde97b2f5a9c3c077a67613.js"></script>
	<script type="text/javascript" charset="utf-8" async="" data-requirecontext="_"
		data-requiremodule="load-login_2e098442dfde97b2f5a9c3c077a67613"></script>
	<script type="text/javascript" charset="utf-8" async="" data-requirecontext="_"
		data-requiremodule="angular/angular.min_a16e2821bcd956d0f17dbc28941d3a6a"></script>
	<script type="text/javascript" charset="utf-8" async="" data-requirecontext="_"
		data-requiremodule="public/common/language-tools_2c7c05afbf15d2935cb721bc5731bf6e"></script>
	<script type="text/javascript" charset="utf-8" async="" data-requirecontext="_"
		data-requiremodule="loader/lcss_7bd10cbc17a58e090c0cf6a9faa13cf8"></script>
	<style type="text/css">
		undefined
	</style>
	<script id="savepage-shadowloader" type="application/javascript">
		"use strict";
		window.addEventListener("DOMContentLoaded",
			function (event) {
				savepage_ShadowLoader(5);
			}, false);
		function savepage_ShadowLoader(c) { createShadowDOMs(0, document.documentElement); function createShadowDOMs(a, b) { var i; if (b.localName == "iframe" || b.localName == "frame") { if (a < c) { try { if (b.contentDocument.documentElement != null) { createShadowDOMs(a + 1, b.contentDocument.documentElement) } } catch (e) { } } } else { if (b.children.length >= 1 && b.children[0].localName == "template" && b.children[0].hasAttribute("data-savepage-shadowroot")) { b.attachShadow({ mode: "open" }).appendChild(b.children[0].content); b.removeChild(b.children[0]); for (i = 0; i < b.shadowRoot.children.length; i++)if (b.shadowRoot.children[i] != null) createShadowDOMs(a, b.shadowRoot.children[i]) } for (i = 0; i < b.children.length; i++)if (b.children[i] != null) createShadowDOMs(a, b.children[i]) } } }
	</script>
</head>

<body class="bodybg notop ng-scope" ng-controller="MainControl" style="display: block;">
	<div class="neterrorwrap ng-hide" ng-alert-tip="" ng-show="alertTipShow" ng-init="alertTipShow=false">
		<div class="neterror">
			<i class="icon-neterror"></i><span class="ng-binding"></span>
			<a href="javascript:void(0);" ng-click="closeTip()" class="netclose"><i class="icon-netclose"></i></a>
		</div>
	</div>
	<form id="commonForm" class="ng-pristine ng-valid">
		<!-- ngView:  -->
		<div id="main_wraper" class="login_wrap ng-scope" ng-view="">
			<div class="wraper ng-scope">
				<div class="logo">
					<a target="_blank"><i class="icon-logo"></i></a>
				</div>
				<p style="text-align: center;font-size: 20px;margin-top: -15px" id="sysname">小微企业跨组织人才管理系统</p>
				<div class="boderwraper">
					<div class="tabtoggle login">
						<a href="login.html" class="current" ng-click="change_login_type(2)">
							<span class="enterhas ng-binding">登录</span>
						</a>

						<a href="regist.html" ng-click="change_login_type(1)">
							<span class="regnew ng-binding">注册</span>
						</a>
					</div>
					<div class="inputwrap login-input" ng-class="{errorfocus:emailError}">
						<label class="lable-login"><i class="icon-user"></i></label>
						<input type="text" class="padr1 ng-pristine ng-untouched ng-valid" ng-model="username"
							id="email" ng-focus="vaEmailFocus($event)" ng-blur="vaEmailBlur($event)"
							placeholder="手机/邮箱/登录帐号" name="username" tabindex="1" value="">
						<a href="javascript:void(0);" class="inputclear input-clear"><i class="icon-clear"></i></a>
					</div>
					<div class="errortip ng-binding ng-hide" ng-class="{error:emailError}" ng-show="emailError"
						ng-init="emailError=0"></div>
					<div ng-password="login">
						<div class="inputwrap input-password login-input" ng-class="{errorfocus:passwordError}">
							<label class="lable-login"><i class="icon-lock"></i></label>
							<input ng-model="password" id="password" type="password" placeholder="密码(6-20位，区分大小写)"
								validate="" name="password" ng-focus="vaPasswordFocus($event)"
								ng-blur="vaPasswordBlur($event)" class="ng-pristine ng-untouched ng-valid"
								history_value="" tabindex="2" value="">
							<a href="javascript:void(0);" class="input-clear inputclear"><i class="icon-clear"></i></a>
						</div>
						<div class="errortip ng-binding ng-hide" ng-class="{error:passwordError}"
							ng-show="passwordError" ng-init="passwordError=0"></div>
					</div>
					<!-- 验证码初始化状态 -->
					<div class="smswrap clearfix ng-hide" ng-show="showVcode" ng-class="{errorfocus:vCodeError}">
						<div class="changeimg">
							<a href="javascript:void(0)" ng-click="changeLoginCode()"><i class="icon-change"></i>换一换</a>
							<span><img id="vCodeImgElem" ng-click="changeLoginCode()" src="" vcodeinit="false"></span>
						</div>
						<div class="authcode imgcode"><input type="text" class="padr1" ng-focus="vaVcodeFocus($event)"
								ng-limit-code="4" ng-blur="vaVcodeBlur($event)" id="vCode" placeholder="请输入图片内容"
								history_value="" name="password" tabindex="3" value=""></div>
					</div>
					<div class="errortip ng-binding ng-hide" ng-class="{error:vCodeError}" ng-show="vCodeError"
						ng-init="vCodeError=false"></div>
					<div class="tiptext">
						<label for="saveAccount" ng-click="saveAccount=saveAccount?false:true;"
							href="javascript:void(0);" class="inherit"></span><br></label>
						<span class="tipright"><a href="javascript:void(0)" ng-click="findPassword()">忘记密码?</a></span>
					</div>

					<div class="submitwrap">
						<a href="javascript:login();" class="btn-submit ng-binding" submit-click="submitLogin()">登 录</a>
					</div>

					<p style="text-align: center;color: red" id="wxfhint"></p>

				</div>
			</div>
		</div><input type="submit" class="position_hidden" value="">
	</form>
	<script type="text/ng-template" id="login.form"></script>
	<script type="text/ng-template" id="login.qr_code"></script>
	<script type="text/ng-template" id="form.qr_code"></script>
	<script type="text/ng-template" id="login.twouser"></script>
	<script type="text/ng-template" id="form.password"></script>
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="js/login.js"></script>


</body>

</html>